*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    /* height: 145vh; */
    min-height: 100vh;
    background-image: url('../images/mountains.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: left;
    background-position-y: bottom;
}

div.App{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    /* background-color: rgba(255,0,0,0.43); */
}

div.wrapper{
    position: absolute;
    top: 0;
    /* bottom: 0; */
    height: 100vh;
    left: 0;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.2);
}
div.wrapper.resultHeight{
height: 145vh;
}